html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: grid;
    border-collapse: collapse;
    grid-template-rows: 2em auto 1fr 1em;
    grid-template-columns: 1fr;
    background-color: #0f0f23;
    color: #cccccc;
}

header {
    grid-row: 1/2;
}

nav {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    grid-row: end;
}

#navlabel {
    padding: 10px;
    border: 1px solid white;
}

.tab {
    color: white;
    background-color: #0f0f23;
    border: 1px solid white;
    cursor: pointer;
}

.tabsel {
    background-color: #0f0f23;
}

.tabnotsel {
    background-color: rgb(104, 102, 102);
}

.tab:hover {
    background-color: darkgreen;
}

.dropdown-content {
    position: absolute;
    background-color: blue;
    box-shadow: 10px 10px black;
    z-index: 1;
}

.dcshow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0;
}

.dchide {
    display: none;
}

article {
    display: none;
    padding: 5px;
    border: 1px solid white;
}

.ita {
    height: 200px;
    border: 3px solid rgb(14, 177, 115);
    background-color: rgb(200, 170, 130);
    color: black;
    overflow: scroll;
}

.ota {
    height: 50px;
    border: 3px solid rgb(52, 111, 160);
    background-color: rgb(200, 170, 130);
    color: black;
}

.aoca {
    border: 1px solid white;
    padding: 2px;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: #11aa22;
}

a:hover,
a:focus {
    color: #11bb55;
}